body {
    background: #F3F5F6;
    font-family: 'Titillium Web', sans-serif;
    color: #1B1B32;
}

.orange-text {
    color: #EEA03A;
}

#nav-bar {
    position: fixed;
    width: 95%;
    display: flex;
    background-color: #1B1B32;
    justify-content: center;
    align-items: center;
    height: 8vh;
    margin: auto 2.5%;
    top: 0px;
    left: 0;
    right: 0;

}

/* Nav bar changes vh at resloutions: R<600, R =  600:1000 and R>1000px To 5, 8 and 10 vh*/
@media (max-width: 600px) {
    #nav-bar {
        height: 5vh;
    }
}

@media (min-width: 1000px) {
    #nav-bar {
        height: 10vh;
    }
}

.nav-link {
    width: 25%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
    text-decoration: none;
}

#header-img {
    width: 25%;
    display: flex;
    margin: auto 1vw;
}

.nav-link:hover {
    color: #EEA03A;
    font-weight: bolder;
}

.video {
    display: block;
    margin: 10vh auto;
    justify-content: center;
    width: 64vw;
    height: 36vw;
}

@media (max-width: 800px) {
    .video {
        width: 91.4vw;
        height: 51.4vw;
        margin: 10vh auto 0 auto;
    }
}

.header2 {
    margin: 8vh 0 5vh 0;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.header3 {
    margin: 2vh 0 0vh 0;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.container-grid0 {
    margin: 0vh 25vw 10vh 25vw;
    width: 50%;
    height: 50vh;
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
}

@media(max-width:800px) {
    .container-grid0 {
        width: 80%;
        margin: auto;
        height: 30vh;
    }
}

.small-icon {
    font-size: 60px !important;
    margin: auto;
}

.small-p {
    margin: 0 0 0 45px;

}

@media(max-width:850px) {
    .small-p {
        margin: 0 0 0vw 6vw;
    }
}

@media(max-width:550px) {
    .small-p {
        margin: 0 0 0vw 10vw;
    }
}

.download-tabs {
    display: flex;
    margin: 3vh auto;
    width: 60%;
    height: min-content;
    background-color: white;
    align-items: center;
    overflow: auto;
}

@media(max-width:1000px) {
    .download-tabs {
        width: 100%;
    }
}

.download-tabs .img-wrap {
    display: flex;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #F3F5F6;
}

.download-tabs .content-wrap {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 50%;
    margin: auto auto auto 0px;
}

.download-tabs .badge-wrap {
    display: flex;
    /* height: 130px; */
    width: 130px;
    margin: auto 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#linux-img {
    background: url("./images/linux_color_60@1x.png") center no-repeat;
    width: 80%;
    height: 80%;
}

#linux-sub:hover #linux-img {
    background: url("./images/linux_grey_60@1x.png") center no-repeat;
    width: 100%;
    height: 100%;
}

#mac-img {
    background: url("./images/mac_color_60@1x.png") center no-repeat;
    width: 80%;
    height: 80%;
}

#mac-sub:hover #mac-img {
    background: url("./images/mac_grey_60@1x.png") center no-repeat;
    width: 100%;
    height: 100%;
}

#win-img {
    background: url("./images/windows10_color_60@1x.png") center no-repeat;
    width: 80%;
    height: 80%;
}

#win-sub:hover #win-img {

    background: url("./images/windows10_grey_60@1x.png") center no-repeat;
    width: 80%;
    height: 80%;
}

.prices {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 10vh 20%;
}

@media(max-width:800px) {
    .prices {
        flex-direction: column;
    }
}

.prices .price-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    border: 1px solid #1B1B32;
    height: 380px;
}

@media(max-width:800px) {
    .prices .price-card {
        width: 100%;
        margin: 10px 0px;
    }
}

@media(max-width: 1000px) {
    .prices {
        width: 100%;
        margin: 2vh auto;

    }
}


.prices .price-card .price-header {
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
    height: 30px;
    font-size: x-large;
    font-weight: bolder;
}

.prices .price-card .temp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}

.prices .price-card .feature-list {
    display: table;
    margin: 1vh auto 0px auto;
    width: 80%;
    height: 90%;
    line-height: 2.5em;
    list-style-type: none;
    list-style-image: url(./images/check_circle-black-18dp.svg);
}

@media(max-width: 800px) {
    .prices .price-card .feature-list {
        margin: 20px auto 0px auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
}

.prices .price-card span {
    margin: auto auto 5px auto;
}

.btn {
    font-weight: bold;
    text-align: center;
    margin: 2px auto;
}

.news-letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min-content;
    margin: 2vh auto;
}

.news-letter h2 {
    width: 100%;
    margin: auto;
}

.footer {
    width: 95%;
    height: 50px;
    background-color: #1B1B32;
    margin: auto 2.5%;
}

.footer a {
    text-decoration: none;
    color: #EEA03A;
    float: left;
    margin: 10px;
}

.footer a:hover {
    color: white;
}